html, body {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Arial, Helvetica, sans-serif!important;
	text-align: center;
}

a {
	text-decoration: none;
	color: #b35c22;
}

img {
	padding-top: 10pt;
	padding-right: 20pt;
}

p {
	font-family: Arial, Helvetica, sans-serif!important;
}

#header {
	background-color: #b35c22;
	padding-top: 2pt;
	padding-bottom: 3pt;
	text-align="center";
	display: flex;
	justify-content: center;
}

#main-title {
	color: White;
}

#menuPane {
	grid-area: menu;
}

#mainPane {
	grid-area: main;
	padding: 10px
}

.post-title {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif!important;
	color: #b35c22;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas */
.grid-container {
	display: grid;
	grid-template-areas:
		'menu main main main'
		'menu main main main'
		'menu main main main';
	grid-gap: 10px;
	padding: 10px;
	padding-left: 125px;
	padding-right: 125px;
}

